@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #bbc4d6;
}

.header {
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.header-container {
	width: 375px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	padding-top: 17px;
	padding-bottom: 12px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}

.search {
	width: 100%;
}

.search__wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 40px;
	border-top: 1px solid #bbc4d6;
}

.search__icon {
	margin-left: 20px;
	margin-right: 3px;
}

.search__input {
	border: none;
	padding-left: 2px;
	padding-top: 2px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.01em;
	color: #BBC4D6;
	cursor: pointer;
}

.search__input:hover, .search__input:active {
	border: none;
}

.user_big {
	display: none;
}

.partners {
	width: 375px;
	margin: 0 auto;
	padding-top: 48px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 73px;
}

.partners__heading {
	font-weight: 500;
	font-size: 28px;
	line-height: 160%;
	text-transform: uppercase;
	color: #121920;
	padding-bottom: 11px;
	margin-bottom: 0;
}

.partners__block-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 335px;
	height: 140px;
	border: 1px solid #ebebf1;
	box-sizing: border-box;
	border-radius: 5px;
	margin-top: 20px;
	cursor: pointer;
}

.henkel-logo {
	background-image: url(img/Henkel_mob.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

@media (min-width: 768px) {
	.header {
		height: 80px;
	}
	.header-container {
		flex-direction: row;
		justify-content: space-between;
		width: 768px;
		margin: 0 auto;
	}

	.top {
		width: auto;
		padding-right: 49px;
	}
	.user_small {
		display: none;
	}
	.user_big {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 21px;
		padding-right: 20px;
		height: 80px;
		border-left: 1px solid #EBEBF1;
	}
	.user__name {
		margin-right: 10px;
	}
	.search__wrapper {
		border: 1px solid #EBEBF1;
		box-sizing: border-box;
		border-radius: 5px;
		height: 40px;
		max-width: 344px;
	}
	.search__icon {
		margin-left: 9px;
	}
	.user__avatar {
		cursor: pointer;
		padding-top: 3px;
	}
	.partners {
		width: 768px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 389px;
	}
	.partners__heading {
		padding-left: 10px;
		padding-bottom: 20px;
	}
	.partners__block {
		display: flex;
		flex-wrap: wrap;
	}
	.partners__block-item {
		width: 229px;
		height: 120px;
		margin: 10px;
	}
	.partners__henlel-logo {
		width: 117px;
		height: 64px;
	}
	.partners__john-deere-logo {
		width: 183px;
		height: 34px;
	}
	.partners__mcdonald-logo {
		width: 99px;
		height: 74px;
	}
	.partners__ikea-logo {
		width: 175px;
		height: 70px;
	}
	.partners__reebok-logo {
		width: 187px;
		height: 38px;
	}
	.partners__nike-logo {
		width: 143px;
		height: 74px;
	}
	.partners__caterpillar-logo {
		width: 196px;
		height: 30px;
	}
}

@media (min-width: 1440px) {
	.header-container {
		width: 1210px;
		margin: 0 auto;
	}
	.search__wrapper {
		max-width: 763px;
	}
	.top {
		padding-right: 60px;
	}
	.partners {
		width: 1200px;
		padding-top: 40px;
		padding-bottom: 382px;
	}
	.partners__heading {
		font-size: 36px;
		padding-left: 15px;
		padding-bottom: 16px;
	}
	.partners__block-item {
		width: 270px;
		margin: 15px;
	}
	.partners__henlel-logo {
		width: 116px;
	}
	.partners__john-deere-logo {
		width: 234px;
		height: 44px;
	}
	.partners__mcdonald-logo {
		width: 85px;
		height: 64px;
	}
	.partners__ikea-logo {
		width: 160px;
		height: 64px;
	}
	.partners__reebok-logo {
		width: 234px;
		height: 48px;
	}
	.partners__nike-logo {
		width: 122px;
		height: 64px;
	}
	.partners__caterpillar-logo {
		width: 234px;
		height: 36px;
	}
}